<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2> ARTICLE LISTING </h2>
            <hr>
        </div>
    </div>
    <br>
    <%= render 'article', article: @articles %>
    <div class="flickr_pagination">
        <%= will_paginate @articles, :container => false %>
    </div>
</div>