<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3> Article Details</h3>
                </div>
                <div class="card-body">
                    <p>
                        <strong>
                            Title:
                        </strong>
                        <%= @article.title %>
                    </p>
        
                    <p>
                        <strong>
                            Description:
                        </strong>
                        <%= @article.description %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>